.form {
    padding-top: 30px;
    border-top: 1px solid @border;
    padding-bottom: 32px;
}
.form__title {
    width: 280px;
    margin: 0 auto;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;
}
.form__programm {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 39px;
}
.form__cat {
    width: 280px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.form__cat-label {
    display: flex;
    margin-bottom: 13px;
    align-items: center;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__cat-input {
    flex-basis: 0;
    flex-grow: 1;
    height: 44px;
    margin-left: 13px;
    border: 1px solid @form-input;
    padding-left: 15px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__programm-type {
    border-top: 1px solid @border;
    border-bottom: 1px solid @border;
    padding-top: 25px;
    padding-bottom: 3px;
}
.form__programm-type-label {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height: 30px;
    width: 190px;
    margin: 0 auto;
    display: block;
    margin-bottom: 12.5px;
    position: relative;
}
.form__programm-type-input {
    display: none;
}
.form__programm-type-view {
    width: 28px;
    height: 28px;
    border: 1px solid @table;
    border-radius: 50%;
    position: absolute;
    left: -45px;
    top: -6px;
}
.form__programm-type-input:checked ~ .form__programm-type-view::before {
    content: "";
    display: block;
    width: 13.5px;
    height: 13.5px;
    background-color: @button;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 7.25px;
}
.form__contact-details {
    padding-top: 27px;
    position: relative;
}
.form__contact-details::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: calc(50% + 140px);
    top: 41.5px;
    width: calc(50% - 140px);
    background-color: @button;
}
.form__contact-details-title {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
.form__contact-details-title-text {
    margin-right: 22px;
}
.form__contact-details-title::after {
    content: "";
    display: block;
    height: 3px;
    background-color: @button;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    top: 3px;
}
.form__contact-details-label {
    width: 280px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 14px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @button-text;
    align-items: center;
}
.form__contact-details-input {
    height: 43px;
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 11px;
    border: 1px solid @form-input;
    padding-left: 15px;
    padding-right: 43px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @button-text;
    background-repeat: no-repeat;
    background-position-y: center;
}
.form__contact-details-input--mail {
    background-image: url('../img/icon-mail.svg');
    background-size: 20px 14px;
    background-position-x: calc(100% - 15px);
}
.form__contact-details-input--phone {
    background-image: url('../img/icon-phone.svg');
    background-size: 20px 20px;
    background-position-x: calc(100% - 13px);
}
.form__comment {
    padding-top: 14px;
    position: relative;
}
.form__comment::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: calc(50% + 140px);
    top: 27.5px;
    width: calc(50% - 140px);
    background-color: @button;
}
.form__comment-title {
    width: 280px;
    margin: 0 auto;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
}
.form__comment-title-text {
    margin-right: 22px;
}
.form__comment-title::after {
    content: "";
    display: block;
    height: 2.5px;
    background-color: @button;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    top: 2.5px;
}
.form__comment-input {
    width: 265px;
    margin: 0 auto;
    display: block;
    height: 137px;
    resize: none;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @button-text;
    border: 1px solid @form-input;
    padding-top: 11px;
    padding-left: 15px;
}
.form__additionally {
    padding-top: 27px;
    margin-bottom: 22px;
    position: relative;
}
.form__additionally::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: calc(50% + 140px);
    top: 41px;
    width: calc(50% - 140px);
    background-color: @button;
}
.form__additionally-title {
    width: 280px;
    margin: 0 auto;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
}
.form__additionally-title::after {
    content: "";
    display: block;
    height: 3px;
    background-color: @button;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    top: 3px;
}
.form__additionally-title-text {
    margin-right: 23px;
}
.form__additionally-label {
    width: 234px;
    margin: 0 auto;
    position: relative;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 12px;
    display: block;
    padding-left: 46px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__additionally-input {
    display: none;
}
.form__additionally-view {
    height: 28px;
    width: 28px;
    position: absolute;
    border: 1px solid @table;
    top: 0;
    left: 0;
}
.form__additionally-input:checked ~ .form__additionally-view .form__additionally-view-checked {
    width: 15px;
    height: 7px;
    border-bottom: 2px solid @button;
    border-left: 2px solid @button;
    position: absolute;
    top: 7px;
    left: 7px;
    transform: rotate(-45deg);
}
.form__submit {
    width: 280px;
    margin: 0 auto;
    height: 40px;
    display: block;
    border: none;
    background-color: @button;
    color: @light;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.form__mandatory {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
