.header__position {
    display: flex;
    height: 72px;
    align-items: center;
    margin: 0 auto;
    width: 280px;
}
.header__logo {
    margin-right: 65px;
}
.header__open {
    background-color: transparent;
    background-image: url('../img/icon-mobile-menu.svg');
    border: none;
    width: 24px;
    height: 16px;
    font-size: 0;
}
