* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
}
fieldset {
  border: none;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswaldregular.woff2') format('woff2'), url('../fonts/oswaldregular.woff') format('woff');
  font-weight: normal;
}
.header__position {
  display: flex;
  height: 62px;
  align-items: center;
  margin: 0 auto;
  width: 280px;
}
.header__menu {
  display: none;
}
.header__logo {
  margin-right: 65px;
  width: 191px;
  height: 38px;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 0.6;
}
.header__open {
  background-color: transparent;
  background-image: url('../img/icon-mobile-menu.svg');
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 16px;
  font-size: 0;
}
.header__open--opened {
  background-image: url('../img/icon-close.svg');
}
@media (min-width: 768px) {
  .header {
    padding-top: 10px;
  }
  .header__logo--tablet {
    display: inline-block;
  }
  .header__logo--mobile,
  .header__open {
    display: none;
  }
  .header__logo {
    margin-right: 95px;
    width: 174px;
    height: 52px;
  }
  .header__menu {
    display: flex;
  }
  .header__position {
    width: 708px;
    padding-top: 14px;
  }
  .header__button {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
  }
  .header__button:hover {
    opacity: 0.6;
  }
  .header__button:active {
    opacity: 0.3;
  }
  .header__button:not(:last-child) {
    margin-right: 35px;
  }
  .header__button--opened::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    top: 33px;
  }
  .header__button--opened:not(.header__button--in-catalog):not(.header__button--in-form) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 1440px) {
  .header {
    position: relative;
  }
  .header--index::before {
    content: "";
    display: block;
    width: calc(50%);
    height: 696px;
    background-image: url('../img/index-background-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-color: #63a73a;
    position: absolute;
    left: 50%;
    top: -2px;
  }
  .header__position {
    width: 1220px;
    padding-top: 47px;
  }
  .header__logo {
    margin-right: 409px;
    width: 202px;
    height: 59px;
  }
  .header__menu {
    padding-left: 131px;
  }
  .header__menu--catalog::before,
  .header__menu--form::before {
    display: none;
  }
  .header__button {
    font-size: 19px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 3px;
  }
  .header__button--in-catalog,
  .header__button--in-form {
    color: #000000;
  }
  .header__button:not(:last-child) {
    margin-right: 38px;
  }
  .header__button--catalog:not(:last-child) {
    margin-right: 42px;
  }
  .header__button--opened::after {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    top: 35px;
  }
  .header__button--catalog::after,
  .header__button--form::after {
    background-color: #68b738;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi) {
  .header--index::before {
    background-image: url('../img/index-background-desktop@2x.jpg');
    background-size: 720px 696px;
  }
}
.cat-energy {
  font-family: 'Oswald', Arial, sans-serif;
  color: #ffffff;
  margin-bottom: 22px;
  position: relative;
}
.cat-energy::before {
  content: "";
  display: block;
  background-image: url('../img/index-can-mobile@1x.png');
  width: 280px;
  height: 270px;
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -140px;
}
.cat-energy__head {
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-position: center;
  background-color: #63a73a;
  background-repeat: no-repeat;
  height: 279px;
  padding-top: 26px;
  margin-bottom: 135px;
}
.cat-energy__title {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 36px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}
.cat-energy__cat {
  text-align: center;
  margin-bottom: 303px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.cat-energy__scheme {
  text-align: center;
  display: block;
  width: 280px;
  margin: 0 auto;
  height: 29px;
  padding-top: 10px;
  background-color: #68b738;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.cat-energy__scheme:hover {
  background-color: #5EAA2F;
}
.cat-energy__scheme:active .cat-energy__scheme-text {
  opacity: 0.3;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cat-energy::before {
    background-image: url('../img/index-can-mobile@2x.png');
    background-size: 280px 270px;
  }
  .cat-energy__head {
    background-image: url('../img/index-background-mobile@2x.jpg');
    background-size: 320px 305px;
  }
}
@media (min-width: 768px) {
  .cat-energy__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    margin: 0;
    padding-left: 5px;
    width: auto;
    margin-bottom: 43px;
  }
  .cat-energy__cat {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin: 0;
    padding-left: 6px;
    margin-bottom: 47px;
  }
  .cat-energy__scheme {
    font-size: 20px;
    width: 244px;
    height: 35px;
    padding-top: 20px;
    margin: 0;
  }
  .cat-energy__head {
    background: none;
    margin: 0;
    height: auto;
  }
  .cat-energy {
    margin: 0 auto;
    width: 627px;
    padding-left: 81px;
    padding-top: 27px;
    background-image: url('../img/index-can-tablet@1x.jpg');
    padding-bottom: 526px;
    background-repeat: no-repeat;
    background-position: 0px 255px;
  }
  .cat-energy::before {
    display: none;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .cat-energy {
    background-image: url('../img/index-can-tablet@2x.jpg');
    background-size: 709px 609px;
  }
}
@media (min-width: 1440px) {
  .cat-energy {
    background-image: none;
    padding-top: 78px;
    padding-left: 150px;
    padding-bottom: 267px;
    width: 1220px;
    background-image: url('../img/index-can-desktop@1x.png');
    background-repeat: no-repeat;
    background-position-x: 523px;
    background-position-y: 22px;
  }
  .cat-energy__title {
    margin-bottom: 40px;
  }
  .cat-energy__cat {
    margin-bottom: 52px;
  }
  .cat-energy__scheme {
    margin-left: 5px;
    height: 34px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi) {
  .cat-energy {
    background-image: url('../img/index-can-desktop@2x.png');
    background-size: 552px 499px;
  }
}
.plus__item {
  height: 236px;
  padding-top: 30px;
  background-color: #f2f2f2;
  margin-bottom: 21px;
  position: relative;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
.plus__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  left: 22px;
  top: 24px;
}
.plus__item::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
.plus__item--slim::after {
  background-image: url(../img/icon-cat-slim.svg);
  width: 36px;
  height: 50px;
  top: 21px;
  left: 29px;
}
.plus__item--pro::after {
  background-image: url(../img/icon-cat-pro.svg);
  width: 67px;
  height: 28px;
  top: 35px;
  left: 12px;
}
.plus__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: 'Oswald', Arial, sans-serif;
  margin-left: 91px;
  margin-bottom: 29px;
}
.plus__information {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  margin-left: 20px;
  width: 227px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 19px;
}
.plus__catalog {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 19px;
  position: relative;
}
.plus__catalog:active {
  opacity: 0.3;
}
.plus__catalog::after {
  display: block;
  content: "";
  position: absolute;
  background-image: url('../img/icon-right-arrow-long.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 10px;
  left: 100px;
  top: 7px;
}
.plus__catalog:hover::after {
  background-image: url('../img/icon-right-arrow-verylong.svg');
}
@media (min-width: 768px) {
  .plus__item {
    width: 708px;
    height: 295px;
    margin-bottom: 30px;
    padding-top: 77px;
  }
  .plus__item::before {
    width: 200px;
    height: 200px;
  }
  .plus__item--slim::before {
    top: 92px;
    left: 446px;
  }
  .plus__item--pro::before {
    top: 91px;
    left: 448px;
  }
  .plus__item--slim::after {
    width: 140px;
    height: 192px;
    left: 476px;
    top: 81px;
  }
  .plus__item--pro::after {
    width: 268px;
    height: 112px;
    left: 412px;
    top: 135px;
  }
  .plus__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 53px;
    margin-bottom: 24px;
  }
  .plus__information {
    margin-left: 53px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-bottom: 32px;
  }
  .plus__information--slim {
    width: 377px;
  }
  .plus__information--pro {
    width: 342px;
  }
  .plus__catalog {
    font-size: 20px;
    line-height: 30px;
    margin-left: 52px;
  }
  .plus__catalog::after {
    left: 132px;
    top: 10px;
  }
}
@media (min-width: 1440px) {
  .plus {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 71px;
  }
  .plus__item {
    height: 297px;
    width: 570px;
    margin: 0;
  }
  .plus__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
  .plus__item--slim::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
  }
  .plus__item--pro::after {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
  }
  .plus__title {
    padding-left: 161px;
    margin-bottom: 74px;
  }
  .plus__information {
    width: 467px;
    margin-bottom: 6px;
  }
}
.explanation {
  margin-top: 27px;
  margin-bottom: 42px;
}
.explanation__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 38px;
}
.explanation__tools {
  width: 280px;
  margin: 0 auto;
}
.explanation__tool {
  padding-left: 80px;
  padding-top: 3px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  height: 57px;
}
.explanation__tool::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #68b738;
  left: 0;
  top: 0;
  background-position: center;
}
.explanation__tool--substances::before {
  background-image: url('../img/advantage-leaf@1x.png');
}
.explanation__tool--cooking::before {
  background-image: url('../img/advantage-powder@1x.png');
}
.explanation__tool--eating::before {
  background-image: url('../img/advantage-dining@1x.png');
}
.explanation__tool--time::before {
  background-image: url('../img/advantage-clock@1x.png');
}
.explanation__br-time {
  display: none;
}
.explanation__br-tablet {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .explanation__tool--substances::before {
    background-image: url('../img/advantage-leaf@2x.png');
    background-size: 44px 46px;
  }
  .explanation__tool--cooking::before {
    background-image: url('../img/advantage-powder@2x.png');
    background-size: 50px 46px;
  }
  .explanation__tool--eating::before {
    background-image: url('../img/advantage-dining@2x.png');
    background-size: 46px 46px;
  }
  .explanation__tool--time::before {
    background-image: url('../img/advantage-clock@2x.png');
    background-size: 44px 46px;
  }
}
@media (min-width: 768px) {
  .explanation__br-time {
    display: inline;
  }
  .explanation {
    width: 708px;
    margin: 0 auto;
  }
  .explanation__title {
    font-size: 60px;
    line-height: 60px;
    width: auto;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 72px;
  }
  .explanation__tools {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }
  .explanation__tool {
    width: 245px;
    display: block;
    height: 169px;
    padding-left: 0;
    padding-top: 111px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }
  .explanation__tool:not(:nth-child(3)):not(:nth-child(4)) {
    margin-bottom: 36px;
  }
  .explanation__tool--substances,
  .explanation__tool--eating {
    margin-right: 140px;
  }
  .explanation__tool::before {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
  }
  .explanation__tool::after {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: -39px;
    color: #f2f2f2;
    z-index: -1;
  }
  .explanation__tool--substances::after {
    content: "1";
    left: 118px;
  }
  .explanation__tool--cooking::after {
    content: "2";
    left: 111px;
  }
  .explanation__tool--eating::after {
    content: "3";
    left: 113px;
  }
  .explanation__tool--time::after {
    content: "4";
    left: 113px;
  }
  .explanation__br-tablet {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .explanation {
    width: 1220px;
    margin: 0 auto;
  }
  .explanation__tools {
    width: 1220px;
    justify-content: space-between;
  }
  .explanation__tool {
    margin: 0;
  }
}
.footer {
  background-color: #f2f2f2;
  background-image: url('../img/footer-logo-2.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 515px;
}
.footer__contacts {
  padding-top: 28px;
  padding-bottom: 22px;
}
.footer__contacts-position {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__invite {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}
.footer__address {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
}
iframe,
.mapouter,
.gmap_canvas {
  height: 362px;
}
.footer__br-tablet {
  display: none;
}
.footer__social {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}
.footer__social-network {
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__social-network--vk {
  background-image: url('../img/icon-vk.svg');
  width: 23px;
  height: 16px;
  margin-right: 37px;
  position: relative;
  top: 3px;
  left: -2px;
}
.footer__social-network--in {
  background-image: url('../img/icon-insta.svg');
  width: 16px;
  height: 16px;
  margin-right: 33px;
  position: relative;
  top: 3px;
  left: -3px;
}
.footer__social-network--fb {
  background-image: url('../img/icon-fb.svg');
  width: 22px;
  height: 22px;
  position: relative;
  top: 3px;
  left: -3px;
  transform: scale(0.9);
}
.footer__academy {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
.footer__academy-name {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.footer__academy-image {
  width: 27px;
  height: 34px;
  transform: scale(1.5);
  fill: #666666;
  margin-top: 8px;
}
.footer__position {
  padding-top: 95px;
}
@media (min-width: 768px) {
  .footer {
    background-image: none;
    padding-top: 0;
  }
  .footer__contacts-position {
    width: 625px;
    padding-left: 41px;
    padding-top: 35px;
    padding-bottom: 39px;
    padding-right: 42px;
  }
  .footer__invite {
    font-size: 20px;
    line-height: 25px;
    width: 171px;
    margin-top: 2px;
  }
  .footer__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 159px;
  }
  .footer__br-tablet {
    display: inline;
  }
  iframe,
  .mapouter,
  .gmap_canvas {
    height: 400px;
  }
  .footer__position {
    width: 708px;
    margin: 0 auto;
    padding-top: 0;
    background-image: url('../img/footer-logo-2.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 60px;
    display: flex;
    height: 146px;
    align-items: center;
  }
  .footer__social {
    border: none;
    margin-left: 284px;
    width: 122px;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-right: 138px;
  }
  .footer__academy {
    width: 163px;
  }
  .footer__social-network--vk {
    width: 30px;
    height: 22px;
    margin-right: 0;
  }
  .footer__social-network--in {
    width: 23px;
    height: 23px;
    margin-right: 0;
  }
  .footer__social-network--fb {
    width: 13px;
    height: 27px;
  }
}
@media (min-width: 1440px) {
  .footer__position {
    width: 1220px;
    background-position-y: 62px;
  }
  .footer__social {
    margin-left: 541px;
    margin-right: 395px;
  }
  .footer__academy {
    margin: 0;
    margin-top: 6px;
  }
}
.catalog {
  padding-top: 25px;
  border-top: 2px solid #d9d9d9;
}
.catalog__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 41px;
}
.catalog__position {
  border-bottom: 2px solid #ebebeb;
}
.catalog__item {
  border-bottom: 2px solid #ebebeb;
  padding-top: 19px;
  padding-bottom: 25px;
}
.catalog__item-data {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18.5px;
  display: flex;
}
.catalog__item-order {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  display: block;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
}
.catalog__item-order:hover {
  background-color: #5EAA2F;
}
.catalog__item-order:active .catalog__item-order-text {
  opacity: 0.3;
}
.catalog__item-name {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
}
.catalog__item-parameters {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  width: 142px;
}
.catalog__item-value {
  text-align: right;
}
.catalog__item-image--tablet,
.catalog__item-image--desktop {
  display: none;
}
.catalog__item-image-block {
  position: relative;
  font-size: 0;
}
.catalog__item-image {
  position: relative;
}
.catalog__item-image--chicken-500 {
  top: 9px;
}
.catalog__item-image--chicken-1000 {
  top: 6px;
}
.catalog__item-image--fish-500 {
  top: 18px;
  transform: scale(0.9);
}
.catalog__item-image--fish-1000 {
  top: 8px;
}
.catalog__item-image--buckwheat-500 {
  top: 20px;
  transform: scale(0.9);
}
.catalog__item-image--buckwheat-1000 {
  top: 8px;
}
.catalog__item-image--rice-500 {
  top: 19px;
}
.catalog__load {
  border-bottom: 2px solid #ebebeb;
  padding-top: 78px;
  background-image: url('../img/icon-plus-mobile.svg');
  background-repeat: no-repeat;
  background-position: center 24px;
  background-size: 30px;
}
.catalog__view {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.catalog__more {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-family: Arial, sans-serif;
}
.catalog__view-more {
  color: #444444;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  display: block;
  height: 32px;
  background-color: #f2f2f2;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 7px;
  margin-bottom: 25px;
}
.catalog__view-more:hover {
  background-color: #ebebeb;
}
.catalog__view-more:active .catalog__view-more-text {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 55px;
    border: none;
  }
  .catalog__item-image {
    transform: none;
    position: absolute;
  }
  .catalog__item-image--chicken-500 {
    top: -205px;
    left: -23px;
  }
  .catalog__item-image--chicken-1000 {
    top: -233px;
    left: -23px;
  }
  .catalog__item-image--fish-500 {
    top: -208px;
    left: -23px;
  }
  .catalog__item-image--fish-1000 {
    top: -238px;
    left: -23px;
  }
  .catalog__item-image--buckwheat-500 {
    top: -205px;
    left: -23px;
  }
  .catalog__item-image--buckwheat-1000 {
    top: -236px;
    left: -23px;
  }
  .catalog__item-image--rice-500 {
    top: -207px;
    left: -23px;
  }
  .catalog__title {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 164px;
    width: auto;
  }
  .catalog__position {
    border: none;
    width: 708px;
    margin: 0 auto;
  }
  .catalog__list {
    display: flex;
    width: 708px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }
  .catalog__item {
    width: 324px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 140px;
    padding-top: 161px;
    padding-bottom: 40px;
  }
  .catalog__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .catalog__item-parameters {
    border-collapse: collapse;
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    margin-left: 15px;
    margin-top: 14px;
  }
  .catalog__item-caption,
  .catalog__item-value {
    border-bottom: 2px solid #cdcdcd;
    padding-top: 7px;
    padding-bottom: 9px;
    height: 0px;
  }
  .catalog__item-name {
    font-size: 20px;
    line-height: 24px;
    width: 154px;
    margin: 0 auto;
    text-align: center;
    padding-left: 16px;
  }
  .catalog__item-order {
    width: 248px;
  }
  .catalog__item-data {
    margin-bottom: 29px;
  }
  .catalog__load {
    background-image: url('../img/icon-plus.svg');
    background-size: 60px;
    background-position-x: center;
    background-position-y: 52px;
    width: 320px;
    border: 2px solid #f2f2f2;
    height: 350px;
  }
  .catalog__view {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-top: 84px;
  }
  .catalog__more {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin-top: 23px;
    margin-bottom: 87px;
  }
  .catalog__view-more {
    width: 249px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding-top: 69px;
  }
  .catalog__position {
    width: 1220px;
  }
  .catalog__list {
    width: 1220px;
  }
  .catalog__item {
    width: 221px;
    padding-left: 24px;
    margin-bottom: 143px;
  }
  .catalog__load {
    width: 241px;
  }
  .catalog__item-parameters {
    width: 169px;
  }
  .catalog__item-data {
    width: 169px;
    margin: 0;
    margin-bottom: 30px;
  }
  .catalog__item-order {
    width: 168px;
    margin: 0;
    margin-left: 15px;
  }
  .catalog__item-parameter {
    line-height: 15px;
  }
  .catalog__view {
    margin-top: 81px;
  }
  .catalog__view-more {
    width: 169px;
  }
  .catalog__item-image {
    position: absolute;
  }
  .catalog__item-image--chicken-500 {
    top: -212px;
    left: -25px;
  }
  .catalog__item-image--chicken-1000 {
    top: -240px;
    left: -23px;
  }
  .catalog__item-image--fish-500 {
    top: -214px;
    left: -26px;
  }
  .catalog__item-image--fish-1000 {
    top: -245px;
    left: -25px;
  }
  .catalog__item-image--buckwheat-500 {
    top: -213px;
    left: -26px;
  }
  .catalog__item-image--buckwheat-1000 {
    top: -246px;
    left: -24px;
  }
  .catalog__item-image--rice-500 {
    top: -215px;
    left: -26px;
  }
}
.mobile-menu {
  border-top: 2px solid #e6e6e6;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
}
.mobile-menu__button {
  border-bottom: 2px solid #e6e6e6;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  height: 42px;
  display: block;
}
.mobile-menu--hide {
  display: none;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.example {
  background-color: #eaeaea;
  padding-top: 28px;
  padding-bottom: 36px;
}
.example__story {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
}
.example__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;
}
.example__tale {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}
.example__br-tablet {
  display: none;
}
.example__data {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 20px;
}
.example__datum {
  width: 124px;
  text-align: center;
  padding-top: 17px;
}
.example__value {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.example__result {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
.example__cost {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.example__cats {
  margin-bottom: 32px;
}
.example__cat--before {
  width: 320px;
  margin: 0 auto;
  display: block;
}
.example__cat--after {
  width: 320px;
  margin: 0 auto;
  display: none;
}
.example__form {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example__time {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.example__time--before {
  position: relative;
  left: -16px;
}
.example__time--after {
  position: relative;
  left: 19px;
}
.example__inputs {
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  position: relative;
  left: 3px;
}
.example__input {
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: #68b738;
  margin-left: 4px;
  margin-top: 3px;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    background-color: #ffffff;
    border-top: 2px solid #e6e6e6;
    padding-bottom: 0;
  }
  .example__story {
    width: auto;
    margin: 0;
    margin-bottom: 229px;
  }
  .example__title {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 708px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .example__tale {
    width: 708px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
  .example__br-mobile {
    display: none;
  }
  .example__br-tablet {
    display: inline;
  }
  .example__information {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .example__data {
    width: 366px;
  }
  .example__datum {
    padding-top: 13px;
    width: 162px;
  }
  .example__value {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }
  .example__result {
    font-size: 14px;
    line-height: 14px;
  }
  .example__cost {
    font-size: 20px;
    line-height: 29px;
    padding-top: 5px;
    text-align: right;
  }
  .example__images {
    background-color: #eaeaea;
    padding-bottom: 70px;
  }
  .example__cats {
    position: relative;
    width: 690px;
    height: 348px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .example__cat-container {
    overflow: hidden;
    position: absolute;
    top: -169px;
  }
  .example__cat-container--before {
    width: 337px;
    height: 517px;
    left: 8px;
  }
  .example__cat-container--after {
    width: 345px;
    height: 517px;
    left: 345px;
    position: relative;
  }
  .example__cat {
    display: inline-block;
  }
  .example__cat--before {
    width: 690px;
    height: 517px;
  }
  .example__cat--after {
    width: 690px;
    height: 517px;
    position: absolute;
    left: -337px;
  }
  .example__time {
    font-size: 20px;
    line-height: 30px;
  }
  .example__form {
    width: 708px;
  }
  .example__inputs {
    width: 426px;
    height: 4px;
    border: none;
    background-color: #dcdcdc;
  }
  .example__input {
    height: 31px;
    width: 31px;
    top: -14px;
    position: absolute;
    margin: 0;
    margin-left: 196px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }
  .example__input::after {
    content: "";
    display: block;
    background-color: #68b738;
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 12px;
    left: 12px;
    border-radius: 50%;
  }
  .example__time {
    position: relative;
  }
  .example__time--before {
    left: -24px;
  }
  .example__time--after {
    left: 23px;
  }
}
.additional {
  padding-top: 28px;
  padding-bottom: 35px;
  position: relative;
}
.additional::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: calc(50% + 140px);
  top: 41.5px;
  width: calc(50% - 140px);
  background-color: #68b738;
}
.additional__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  width: 280px;
  margin: 0 auto;
  border-bottom: 2px solid #cdcdcd;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
}
.additional__title-text {
  margin-right: 22px;
}
.additional__title::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #68b738;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  top: 3px;
}
.additional__list {
  margin-bottom: 39px;
}
.additional__item {
  width: 280px;
  margin: 0 auto;
  border-bottom: 2px solid #cdcdcd;
  padding-top: 10px;
  padding-bottom: 19px;
}
.additional__name {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.additional__data {
  display: flex;
  width: 280px;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 14px;
}
.additional__order {
  width: 280px;
  height: 40px;
  border: none;
  background-color: #68b738;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.additional__order:hover {
  background-color: #5EAA2F;
}
.additional__order:active .additional__order-text {
  opacity: 0.3;
}
.additional__gift {
  width: 280px;
  padding-top: 186px;
  height: 103px;
  margin: 0 auto;
  background-image: url('../img/gift-photo-mobile@1x.jpg');
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.additional__gift::before {
  content: "";
  display: block;
  width: 55px;
  height: 59px;
  background-image: url('../img/icon-gift.svg');
  position: absolute;
  top: 65px;
  left: 112px;
}
@media (min-width: 768px) {
  .additional {
    padding-top: 68px;
    padding-bottom: 76px;
  }
  .additional::after {
    top: 87.5px;
  }
  .additional__title {
    width: 671px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    border: none;
    margin-bottom: 78px;
    padding-bottom: 0;
  }
  .additional__title-text {
    margin-right: 36px;
  }
  .additional__title::after {
    height: 3px;
  }
  .additional__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .additional__list {
    margin-bottom: 69px;
  }
  .additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .additional__item {
    box-sizing: border-box;
    width: 708px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 37px;
    padding-left: 38px;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }
  .additional__name {
    font-size: 20px;
    line-height: 20px;
  }
  .additional__data {
    width: auto;
  }
  .additional__quantity {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }
  .additional__quantity--sugar {
    margin-right: 51px;
  }
  .additional__quantity--water {
    margin-right: 57px;
  }
  .additional__quantity--milk {
    margin-right: 50px;
  }
  .additional__quantity--vitamins {
    margin-right: 51px;
  }
  .additional__cost {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }
  .additional__order {
    width: 632px;
  }
  .additional__gift {
    height: 60px;
    padding-top: 71px;
    padding-bottom: 69px;
    width: 285px;
    text-align: left;
    padding-left: 423px;
    background-image: url('../img/gift-photo-tablet@1x.jpg');
  }
  .additional__gift::before {
    left: 89px;
    top: 63px;
    width: 58px;
    height: 63px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .additional__gift {
    background-image: url('../img/gift-photo-tablet@2x.jpg');
    background-size: 100%;
  }
}
.form {
  padding-top: 30px;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 32px;
}
.form__title {
  width: 280px;
  margin: 0 auto;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}
.form__programm {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 39px;
}
.form__cat {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.form__cat-label {
  display: flex;
  margin-bottom: 13px;
  align-items: center;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__cat-input {
  flex-basis: 0;
  flex-grow: 1;
  height: 44px;
  margin-left: 13px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__programm-type {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 25px;
  padding-bottom: 3px;
}
.form__programm-type-label {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 30px;
  width: 190px;
  margin: 0 auto;
  display: block;
  margin-bottom: 12.5px;
  position: relative;
}
.form__programm-type-input {
  display: none;
}
.form__programm-type-view {
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  position: absolute;
  left: -45px;
  top: -6px;
}
.form__programm-type-input:checked ~ .form__programm-type-view::before {
  content: "";
  display: block;
  width: 13.5px;
  height: 13.5px;
  background-color: #68b738;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 7.25px;
}
.form__contact-details {
  padding-top: 27px;
  position: relative;
}
.form__contact-details::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: calc(50% + 140px);
  top: 41.5px;
  width: calc(50% - 140px);
  background-color: #68b738;
}
.form__contact-details-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.form__contact-details-title-text {
  margin-right: 14px;
  width: 187px;
}
.form__contact-details-title::after {
  content: "";
  display: block;
  height: 3.2px;
  background-color: #68b738;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  top: -9px;
}
.form__contact-details-label {
  width: 280px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 14px;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  align-items: center;
}
.form__contact-details-input {
  height: 43px;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 11px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  padding-right: 43px;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  background-repeat: no-repeat;
  background-position-y: center;
}
.form__contact-details-input--mail {
  background-image: url('../img/icon-mail.svg');
  background-size: 20px 14px;
  background-position-x: calc(100% - 15px);
}
.form__contact-details-input--phone {
  background-image: url('../img/icon-phone.svg');
  background-size: 20px 20px;
  background-position-x: calc(100% - 13px);
}
.form__comment {
  padding-top: 14px;
  position: relative;
}
.form__comment::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: calc(50% + 140px);
  top: 27.5px;
  width: calc(50% - 140px);
  background-color: #68b738;
}
.form__comment-title {
  width: 280px;
  margin: 0 auto;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}
.form__comment-title-text {
  margin-right: 22px;
}
.form__comment-title::after {
  content: "";
  display: block;
  height: 2.5px;
  background-color: #68b738;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  top: 2.5px;
}
.form__comment-input {
  width: 265px;
  margin: 0 auto;
  display: block;
  height: 137px;
  resize: none;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding-top: 11px;
  padding-left: 15px;
}
.form__additionally {
  padding-top: 27px;
  margin-bottom: 22px;
  position: relative;
}
.form__additionally::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: calc(50% + 140px);
  top: 41px;
  width: calc(50% - 140px);
  background-color: #68b738;
}
.form__additionally-title {
  width: 280px;
  margin: 0 auto;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}
.form__additionally-title::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #68b738;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  top: 3px;
}
.form__additionally-title-text {
  margin-right: 23px;
}
.form__additionally-label {
  width: 234px;
  margin: 0 auto;
  position: relative;
  height: 25px;
  padding-top: 5px;
  margin-bottom: 12px;
  display: block;
  padding-left: 46px;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__additionally-input {
  display: none;
}
.form__additionally-view {
  height: 28px;
  width: 28px;
  position: absolute;
  border: 1px solid #cdcdcd;
  top: 0;
  left: 0;
}
.form__additionally-input:checked ~ .form__additionally-view .form__additionally-view-checked {
  width: 15px;
  height: 7px;
  border-bottom: 2px solid #68b738;
  border-left: 2px solid #68b738;
  position: absolute;
  top: 7px;
  left: 7px;
  transform: rotate(-45deg);
}
.form__submit {
  width: 280px;
  margin: 0 auto;
  height: 40px;
  display: block;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.form__mandatory {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form {
    padding-top: 54px;
    padding-bottom: 50px;
  }
  .form__title {
    width: 708px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
  .form__programm {
    font-size: 20px;
    line-height: 30px;
    width: 668px;
    padding-left: 40px;
    margin-bottom: 67px;
  }
  .form__cat {
    margin-bottom: 45px;
  }
  .form__cat-label {
    width: 628px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 51px;
    margin-bottom: 20px;
  }
  .form__cat-input {
    font-size: 20px;
    line-height: 30px;
    height: 100%;
    margin-left: 19px;
  }
  .form__programm-type {
    width: 542px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    padding-top: 30px;
    padding-bottom: 9px;
    padding-left: 88px;
    margin-bottom: 47px;
  }
  .form__programm-type-label {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    height: 40px;
    margin-bottom: 12px;
    width: auto;
  }
  .form__programm-type-view {
    width: 38px;
    height: 38px;
    left: -59px;
  }
  .form__programm-type-input:checked ~ .form__programm-type-view::before {
    width: 18px;
    height: 18px;
    margin-top: 10px;
  }
  .form__contact-details {
    margin-bottom: 31px;
  }
  .form__contact-details-title {
    font-size: 36px;
    line-height: 36px;
    width: 669px;
    padding-left: 39px;
    margin-bottom: 76px;
  }
  .form__contact-details-title-text {
    width: auto;
  }
  .form__contact-details-label {
    width: 632px;
    padding-left: 40px;
    padding-right: 36px;
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    margin-bottom: 20px;
  }
  .form__contact-details-input {
    font-size: 20px;
    line-height: 30px;
    height: 100%;
    margin-left: 17px;
  }
  .form__contact-details-input--mail {
    padding-left: 21px;
  }
  .form__comment {
    margin-bottom: 37px;
  }
  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    width: 669px;
    padding-left: 39px;
    margin-bottom: 77px;
  }
  .form__comment-input {
    font-size: 20px;
    line-height: 30px;
    width: 611px;
    height: 164px;
    padding-top: 8px;
    padding-left: 20px;
  }
  .form__additionally-title {
    font-size: 36px;
    line-height: 36px;
    width: 668px;
    padding-left: 40px;
    margin-bottom: 57px;
  }
  .form__additonally-labels {
    display: flex;
    width: 648px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
  .form__additionally-label {
    margin: 0;
    display: block;
    width: 161px;
    font-size: 20px;
    line-height: 30px;
    height: 35px;
    margin-bottom: 32px;
    padding-left: 59px;
    padding-top: 5px;
  }
  .form__additionally-label:not(:nth-child(2n)) {
    margin-right: 124px;
  }
  .form__additionally-view {
    width: 38px;
    height: 38px;
  }
  .form__additionally-input:checked ~ .form__additionally-view .form__additionally-view-checked {
    top: 12px;
    left: 12px;
  }
  .form__close {
    display: flex;
    width: 702px;
    margin: 0 auto;
    padding-left: 6px;
    justify-content: space-between;
  }
  .form__submit {
    font-size: 20px;
    height: 52px;
    width: 282px;
    margin-right: 11px;
    margin-left: 35px;
  }
  .form__mandatory {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
